{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>EMP Confirmation</title>
	<link rel="stylesheet" href= "{% static 'bootstrap4/css/bootstrap.min.css' %}"></link>
	<link src="{% static 'bootstrap4/js/bootstrap.min.js' %} "></link>
	<link href=" {% static 'css/style.css' %}" rel="stylesheet"></link>
</head>
<body class="login-body">
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 dalLogo">
                    <img src="{% static 'img/buisnessman.png' %}" alt="Logo"width="150" height="150">
                </div>
                <form class="col-12"  action="/empweb/" method="POST">
                    {% csrf_token %}
                    <h2 class="standouttext">
                            Employee created successfully
                    </h2>
                    <button type="submit" class="btn login-button" value="/success" > <i class="fas fa-sign-in-alt"></i>Return</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
