{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>EMP Homepage</title>
	<link rel="stylesheet" href= "{% static 'bootstrap4/css/bootstrap.min.css' %}"></link>
	<link src="{% static 'bootstrap4/js/bootstrap.min.js' %} "></link>
	<link href=" {% static 'css/style.css' %}" rel="stylesheet"></link>
</head>
<body class="login-body">
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 dalLogo">
                    <img src="{% static 'img/mbr.jpg' %}" alt="Logo"width="230" height="150">
                </div>
                <h1 class="standouttext">
                   EMP Portal Homepage
                </h1>
                <br>
                <br>
                <form class="col-12" method="GET" action="/empweb/create_user/">
                    {% csrf_token %}

                    <!-- Bootstrap Cards. (2019). Retrieved from https://getbootstrap.com/docs/4.0/components/forms/-->
 
                    <button type="submit" class="btn login-button" value="register" > <i class="fas fa-sign-in-alt"></i>Register</button>
                </form>
                <form class="col-12" method="GET" action="/empweb/login/">
                    {% csrf_token %}

                    <!-- Bootstrap Cards. (2019). Retrieved from https://getbootstrap.com/docs/4.0/components/forms/-->
 
                    <button type="submit" class="btn login-button" value="register" > <i class="fas fa-sign-in-alt"></i>Login</button>
                </form>
                </form>
            </div>
        </div>
    </div>
</body>
</html>