{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>EMP Portal</title>
    <link rel="stylesheet" href= "{% static 'bootstrap4/css/bootstrap.min.css' %}"></link>
    <script type="text/javascript" src="{% static 'popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap4/js/bootstrap.min.js' %} "></script>
	<link href=" {% static 'css/style.css' %}" rel="stylesheet"></link>
</head>
<body class="login-body">
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 dalLogo">
                    <img src="{% static 'img/buisnessman.png' %}" alt="Logo"width="150" height="150">
                </div>
                <h1 class="standouttext">
                   Welcome!
                </h1>
                <form class="col-12" method="POST">
					<div class="form-group">
                         <!--Bootstrap Tooltips. (2019). Retrieved from https://getbootstrap.com/docs/4.1/components/tooltips/-->
                         <input id='mortID' type="mortID" class="form-control" placeholder="MortID"  required  data-toggle="tooltip" data-placement="bottom" title="Enter in valid data">
                    </div>
                    <div class="form-group">
                            <!-- [11]"Dropdowns", Getbootstrap.com, 2019. [Online]. Available: https://getbootstrap.com/docs/4.0/components/dropdowns/. [Accessed: 06- Apr- 2019] -->
                            <div class="dropdown show">
                                <p class="standouttext">Form to request</p>
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Dropdown link
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                  <a class="dropdown-item" href="/">MBR Form</a>
                                  <a class="dropdown-item" href="#">Form 2</a>
                                  <a class="dropdown-item" href="#">Form 3</a>
                                </div>
                            </div>
                        </div>    
                    <!-- <button type="submit" class="btn login-button" value="/success" > <i class="fas fa-sign-in-alt"></i>Submit</button>-->
                </form>
            </div>
        </div>
    </div>
</body>
</html>